@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif !important;
}

.hero-img {
    background-size: cover;
    background-position: center;
    height: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, hsl(218deg 73% 7% / 95%), rgb(1 16 32 / 85%)),
        url(img.jpeg);
}

.mw-50 {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.down-arrow {
    transition: all 300ms ease-in-out;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("menu.svg");
    max-width: 1.5rem;
}

.navbar-dark .navbar-toggler {
    border: none !important;
    padding: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.fw-500 {
    font-weight: 500;
}


.fw-400 {
    font-weight: 400;
}

.nav-link {
    font-size: 1.125rem;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 960px;
}

.hug {
    width: fit-content;
}

.bootstrap {
    color: #7952b3;
}

.wordpress {
    color: #175872;
}

.figma {
    color: purple;
}

.navbar-dark .navbar-nav .nav-link {
    color: #8c9daf;
}

.bg-dark {
    background: #071829 !important;
}

.text-muted {
color: #415163 !important;
}

.btn-primary {
    color: #fff;
    background-color: #08529d;
    border: none !important;
}

.btn {
    padding: 0.675rem 1rem !important;
    border-radius: 0.5rem !important;
}

.tag {
    background: #ebedef;
}